*{margin: 0; padding: 0}
html{
  font-size: 62.5% ; 
  font-family: "Calibri", "Myriad Pro", "Arial", sans-serif; 
  background:#CCC;
  height:100%;
  padding-left:3em
}
p, li, th, td {
  font-size : 1.6em;
  line-height : 1.5em;
}
p {
  margin-bottom : 1.5em
}
ul, ol{
  padding-bottom : 2.4em;
  list-style-type:none;
}
h1, h2, h3 {
  font-weight: bold;
  line-height : 1.5em;
}
h3 {
  font-size : 1.6em;
}
h2 { 
  font-size : 2.4em;
}
h1 {
  font-size : 6.4em;
}

a{
  text-decoration:none;
  color:#00A0B0;
  -moz-transition: color 500ms;
  -o-transition: color 500ms;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}
a:hover{
  color: #CC333F;
}

body {
  width:300px;
  background:#FFF;
  min-height:100%;
}

.social li{
  display:inline;
}

.post {
  /*font-size: 75%;*/
}

