*{margin: 0; padding: 0}
html{
  font-size: 62.5% ; 
  font-family: "Calibri", "Myriad Pro", "Arial", sans-serif; 
  background:#F1FFFD;
  height:100%;
  padding-left:3em
}
p, li, th, td {
  font-size : 1.6em;
  line-height : 1.5em;
}
p {
  margin-bottom : 1.5em
}
ul, ol{
  padding-bottom : 1.2em;
  list-style-type:none;
}
h1, h2, h3 {
  font-weight: bold;
  line-height : 1.5em;
}
h3 {
  font-size : 1.6em;
}
h2 { 
  font-size : 2.4em;
}
h1 {
  font-size : 6.4em;
}
pre{
  font-size:1.3em;
}
a{
  text-decoration:none;
  color:#00A0B0;
  -moz-transition: color 500ms, background-position 400ms;
  -o-transition: color 500ms, background-position 400ms;
  -webkit-transition: color 500ms, background-position 400ms;
  transition: color 500ms, background-position 400ms;
}
a:hover{
  color: #CC333F;
}
body {
  width:400px;
  background:#FFF;
  min-height:100%;
  border-right :0.5em solid  #00A0B0
}
iframe{
  border:none;
}


.social li{
  display:inline;
}

.post {
  /*font-size: 75%;*/
}

.pubdate {
  display:block;
  text-align:right;
  margin-bottom: 1em;
}

.pubdate > data{
  background-color : #00A0B0;
  color : white;
  padding : 0.5em;
}

a.toy{
  display:block;
  background-image: url("/images/fleche.png");
  background-repeat: no-repeat;
  background-position:-500px;
  width:300px;
}
.toy.toyLoading:after{
  content : url("../load.gif");
}
a.toy:hover{
  background-position:-485px;
  color:#00A0B0;
}
