.post {
  .pubdate{
    margin: 8px 0 19px 0;
    line-height: 12px;
  }

  h2 {
    margin-bottom: 9px;
  }

  h3 {
    margin-top: 13px;
  }
  p {
    margin: 0px 0 13px 0px;
  }

  .highlight {
    padding: 0 12px;
    border-left: 1px solid #ddd;
  }
}
