@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  /* https://colorhunt.co/palette/69247cda498dfac67af9e6cf */
  --background: #f9e6cf;
  --foreground: #69247c;
  --accent: #da498d;
  --muted: #fac67a;
  --border: #fac67a;
}

html[data-theme="dark"] {
  --background: #432e54;
  --foreground: #e8bcb9;
  --accent: #ae445a;
  --muted: #4b4376;
  --border: #4b4376;

  .aplayer {
    background: #333;
  }
  .aplayer .aplayer-info .aplayer-music .aplayer-title {
    color: #fff;
  }
  .aplayer .aplayer-info .aplayer-music .aplayer-author {
    color: #aaa;
  }
  .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    background: #666;
  }
  .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    color: #999;
  }
  .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path {
    fill: #aaa;
  }
  .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon:hover path {
    fill: #fff;
  }
  .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap .aplayer-volume-bar {
    background: #666;
  }
  .aplayer .aplayer-lrc:before {
    background: linear-gradient(to bottom, rgb(51, 51, 51) 0%, rgba(51, 51, 51, 0) 100%);
  }
  .aplayer .aplayer-lrc:after {
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.8) 100%);
  }
  .aplayer .aplayer-lrc p {
    color: #aaa;
  }
  .aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
    background-color: #222;
  }
  .aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
    background-color: #444;
  }
  .aplayer .aplayer-list ol li {
    border-top: 1px solid #171717;
  }
  .aplayer .aplayer-list ol li:hover {
    background: #111;
  }
  .aplayer .aplayer-list ol li.aplayer-list-light {
    background: #171717;
  }
  .aplayer .aplayer-list ol li .aplayer-list-index {
    color: #aaa;
  }
  .aplayer .aplayer-list ol li .aplayer-list-author {
    color: #aaa;
  }
  .aplayer .aplayer-notice {
    background-color: #ccc;
    color: #666;
  }
  .aplayer .aplayer-miniswitcher {
    background: #1a1a1a;
  }
  .aplayer .aplayer-miniswitcher .aplayer-icon path {
    fill: #aaa;
  }
  .aplayer .aplayer-miniswitcher .aplayer-icon:hover path {
    fill: #fff;
  }
  .aplayer.aplayer-fixed .aplayer-list {
    border: 1px solid #222;
  }
  .aplayer.aplayer-fixed .aplayer-body {
    background: #333;
  }
  .aplayer.aplayer-fixed .aplayer-info {
    border-top: 1px solid #171717;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex h-max min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-4xl px-4;
  }
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

@utility prose {
  blockquote {
    /* Disable adding quote marks to block-quotes: https://github.com/tailwindlabs/tailwindcss-typography/issues/66 */
    p {
      &:first-of-type::before,
      &:last-of-type::after {
        content: none;
      }
    }
  }

  img {
    background-color: white;
  }
}
